%-*-Erlang-*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}},
	{lager, "3.4.2"},
	{regine, ".*", {git, "https://github.com/travelping/regine.git", "master"}},
	{eradius, ".*", {git, "https://github.com/travelping/eradius.git", "master"}}
       ]}.

{minimum_otp_vsn, "19"}.
{plugins, []}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
		deprecated_funcqtions]}.

{cover_enabled,         true}.
{cover_export_enabled, true}.
