%-*-Erlang-*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{lager, "3.5.2"},
	{regine, {git, "https://github.com/travelping/regine.git", {branch, "master"}}},
	{ergw_aaa, {git, "git://github.com/travelping/ergw_aaa", {branch, "master"}}}
       ]}.

{minimum_otp_vsn, "19"}.
{plugins, []}.

{profiles, [
            {test, [
                    {erl_opts, [nowarn_export_all]},
                    {deps, [
			    {proper, "1.2.0"}
			   ]}
                   ]}
           ]}.

%% xref checks to run
{xref_checks, [locals_not_used]}.
{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.

{cover_enabled,        true}.
{cover_export_enabled, true}.
