%-*-Erlang-*-
{deps, [{regine, ".*", {git, "https://github.com/travelping/regine.git", "master"}},
	{eradius, ".*", {git, "https://github.com/travelping/eradius.git", "master"}}]}.

{cover_enabled,         true}.
{cover_export_enabled,  false}.
{cover_print_enabled,   true}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
